<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="散标，理财产品，投资产品，投资理财" />
    <meta http-equiv="description" content=""/>
    <script type="text/javascript" language="javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/trafficStatistics.js}"></script>
    <script type="text/javascript" language="javascript" th:src="@{/js/huaceng_new.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/share.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <style type="text/css">body{background:#f2f2f2;}</style>
    <title>散标,互联网金融产品列表-动力金融网,专业的互联网金融信息服务平台</title>
</head>

<body>
<script type="text/javascript" th:inline="javascript">
	$(function () {
		//获取产品种类
		var data4Vue = {
			context : context,
			pType : [[${pType}]],
			page : {},
			result : {}
		}
		var vue = new Vue({
			el : "#work_area",
			data : data4Vue,
			methods : {
				/**
				 * 列表显示当前种类产品
				 * @param start 本页开始下标
				 */
				listLoan : function (start) {
					if(this.pType == null){
						this.pType = -1;
					}
					var url = context +"/loan/" + start + "/" + this.pType;
					var self = this;
					axios.get(url).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.page = self.result.data;
						}
					})
				},
				/**
				 * 跳转 0：首页 1：上一页 2：下一页 3：尾页
				 * @param status
				 */
				jump : function (status) {
					switch (status) {
						case 0 :
							if(this.page.start == 0){
								return;
							}else{
								this.listLoan(0);
							}
							break;
						case 1:
							if(this.page.hasPre){
								this.listLoan(this.page.start - this.page.count);
							}else{
								return;
							}
							break;
						case 2:
							if(this.page.hasNext){
								this.listLoan(this.page.start + this.page.count);
							}else{
								return;
							}
							break;
						case 3:
							if(this.page.hasNext){
								this.listLoan(this.page.lastIndex);
							}else{
								return;
							}
							break;
						default:
							return;
					}
				}
			},
			mounted : function () {
				this.listLoan(0);
			}
		})
	})
</script>
<div id="header">
	<div th:include="commons/header :: html"></div>
</div>
<div id="work_area">
<!--产品列表start-->
<div id="loanList">
	<div class="mainBox pro-list-body clearfix" id="rollingLayer">
  	<div class="pro-list">
	   	<!--已满标时追加pro-full-->
		<div class="pro-box" v-for="loan in page.data" :class="{'pro-full':loan.productStatus!=0}">
		    <div class="pro-top">
		      <h3>{{loan.productName}}</h3>
		      <p>{{loan.productDesc}}</p>
		    </div>
		    <div class="pro-main" style="height:260px;">
		      <div class="pro-rate">
	        <div class="rate">{{loan.rate}}<span>%</span></div>
		        <h3>历史年化收益率</h3>
		      </div>
		      <div class="pro-data clearfix">
		        <div class="pro-cycle">
		          <h3>投资周期</h3>
		          <div class="data"><span>{{loan.cycle}}</span>个月</div>
		        </div>
		        <div class="pro-money">
		          <h3>剩余可投金额</h3>
		          <div class="data">
					<span>{{loan.leftProductMoney}}</span>元
				  </div>
		        </div>
		      </div>
		      <div class="pro-btn">
				  <span v-if="loan.productStatus == 0">
						<a :href="context + '/loan/' + loan.id" class="btn-1">立即投资</a><!--已满标按钮-->
				  </span>
				  <span v-else>
						 <a href="javascript:void(0)" class="btn-1">立即投资</a>
				  </span>
		      </div>
		    </div>
		  </div>
	  <div style="clear:both"></div>
      <!--页码 start-->
	  <table class="page_bar">
		<tbody>
		<tr>
			<td>
				共{{page.total}}条{{page.totalPage}}页　当前为第{{page.currentPage}}页　
				<a id="linkHomePage" href="javascript:void(0)" @click="jump(0)">首页</a>
				<a id="linkPreviousPage" href="javascript:void(0)" @click="jump(1)">上一页</a>
				<a id="linkNextPage" href="javascript:void(0)" @click="jump(2)">下一页 </a>
				<a id="linkLastPage" href="javascript:void(0)" @click="jump(3)">尾页</a>
			</td>
		</tr>
		</tbody>
	</table>
	<!--页码 end-->
  	</div>
  
	<div class="right-side">
	    <div class="side-box fixed" id="roll" style="top: 0px;">
	        <div id="advertArea"></div>
	        <!--投资排行榜begin-->
	        <div class="system-notice" style="margin-top: 0px;">
	            <div class="system-tit"><h3>投资排行榜</h3></div>
	            <ul>

	            	<li th:each="invest,status : ${investRank}">
						<span th:text="${status.count}+'.&nbsp'+${invest.phone}+'&nbsp&nbsp'+${invest.money}">1.&nbsp;137******98&nbsp;&nbsp;9000</span>
					</li>
	            </ul>
	        </div>
	        <!--投资排行榜end-->
	        <!--广告位begin-->
	        <div style="margin-top:20px;"><a th:href="@{/}"><img th:src="@{/images/ad.jpg}" alt=""/></a></div>
	        <!--广告位end-->
	    </div>
	</div>
	</div> 
</div>
<!--产品列表end-->
</div>

<!--页脚start-->
<div th:include="commons/footer :: html"></div>
<!--页脚end-->
</body>
</html>