<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script language="javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jQuery.md5.js}"></script>
    <script type="text/javascript" th:src="@{/js/register.js}"></script>
    <title>注册动力金融网-动力金融网,专业的互联网金融信息服务平台</title>
	<style type="text/css">
        .testBtn-a{display: inline-block;height:40px;line-height:30px;padding:0 8px; border:0; border-radius:0px;color:#fff;background:rgb(65,133,244);cursor: pointer;}
        .testBtn-a.on{background:#c9c9c9;color:#666;cursor: default;}
    </style>
</head>

<body>
<div id="header">
    <div th:include="commons/header :: html"></div>
</div>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        var data4Vue = {
            //手机号
            phone : "",
            //密码
            password : "",
            //输入的验证码
            code : "",
            //发送验证码的结果信息
            result : "",
            //发送验证码按钮显示信息
            sendCode : "获取验证码",
            //发送验证码倒计时
            sendTime : 60,
            //计时器
            interval : null

        };
        var vue = new Vue({
            el : "#work_area",
            data : data4Vue,
            methods : {
                agree : function(){
                    if ($("#agree").prop("checked")) {
                        $("#btnRegist").attr("disabled", false);
                        $("#btnRegist").removeClass("fail");
                    } else {
                        $("#btnRegist").attr("disabled","disabled");
                        $("#btnRegist").addClass("fail");
                    }
                },
                //发送验证码
                getCheckNum : function () {
                    if(this.sendTime != 60){
                        return;
                    }
                    if(!(/^1[3456789]\d{9}$/.test(this.phone))){
                        return;
                    }
                    var url = context + "/user/register/" + this.phone;
                    var self = this;
                    axios.get(url).then(function (value) {
                        self.result = value.data;
                        if(self.result.status == 200){
                            self.countDown();
                        }else if(self.result.status == 1001){
                            showError("phone", self.result.msg);
                        }else if(self.result.status == 1003){
                            showError("messageCode", self.result.msg);
                        }else{
                            alert(self.result.msg);
                        }
                    })
                },
                countDown : function () {
                    var self = this;
                    self.sendCode = self.sendTime + "S后可重发";
                    self.interval = setInterval(function(){
                        self.sendTime--;
                        self.sendCode = self.sendTime + "S后可重发";
                    },1000);
                    setTimeout(function () {
                        clearInterval(self.interval);
                        self.sendTime = 60;
                        self.sendCode = "获取验证码";
                    },60*1000);
                },
                //注册
                register : function () {
                    if(!(/^[0-9]{6}$/.test(this.code))){
                        return;
                    }
                    if(!(/^1[3456789]\d{9}$/.test(this.phone))){
                        return;
                    }
                    if(!(/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/.test(this.password))){
                        return;
                    }
                    var url = context + "/user/register/" + this.phone + "/" + this.password + "/" + this.code;
                    var self = this;
                    axios.put(url).then(function (value) {
                        self.result = value.data;
                        if(self.result.status == 200){
                            window.location.href=context + "/user/realName";
                        }else if(self.result.status == 1001){
                            showError("phone", self.result.msg);
                        }else if(self.result.status == 1002){
                            showError("loginPassword", self.result.msg);
                        }else if(self.result.status == 1003){
                            showError("messageCode", self.result.msg);
                        }else{
                            alert(self.result.msg);
                        }
                    })
                },
                //输入框获取焦点清除提示
                clearMsg : function(inputId){
                    hideError(inputId);
                },
                //判断手机号格式
                checkPhone : function () {
                    if ($.trim(this.phone) == "") {
                        showError("phone", "手机号不能为空");
                        return false;
                    } else if (!(/^1[3456789]\d{9}$/.test(this.phone))) {
                        showError("phone", "手机号格式错误");
                        return false;
                    } else {
                        showSuccess("phone");
                    }
                },
                checkPwd : function () {
                    if($.trim(this.password) == ""){
                        showError("loginPassword", "密码不能为空");
                    }else if(!(/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/.test(this.password))){
                        showError("loginPassword", "密码需包含6-20位英文和数字");
                    }else{
                        showSuccess("loginPassword");
                    }
                },
                checkCode : function () {
                    if($.trim(this.code) == ""){
                        showError("messageCode", "验证码不能为空");
                    }else if(!(/^[0-9]{6}$/.test(this.code))){
                        showError("messageCode", "请输入6位数字")
                    }else{
                        showSuccess("messageCode");
                    }
                }


            }
        })
    })
</script>
<div id="work_area">
<div class="login-body regBody">
    <div class="mainBox">
        <div class="homeWap">

            <div class="reg-step">
                <ul class="clearfix">
                    <li>注册</li>
                    <li class="none">实名认证</li>
                    <li class="last">完成</li>
                </ul>
            </div>

            <div class="login-cnt reg-body clearfix">
                <div class="fl">
                    <div class="reg-link">已有帐号？<a th:href="@{/user/login}">登录</a></div>
                    <div class="login-form reg-form">
                        <h2>用户注册</h2>

                        <div class="login-box clearfix" style="z-index:100;">
                            <label>手机号</label>
                            <input type="text" id="phone" name="phone" class="input_text" maxlength="11"
                                   placeholder="请输入11位手机号码" autocomplete="off" v-model="phone" @blur="checkPhone()" @focus="clearMsg('phone')"/>
                            <span id="phoneOk" class="ok" style="display:none;"></span>
                            <div id="phoneErr" class="form-hint" style="display:none;"></div>
                        </div>

                        <div class="login-box clearfix " style="z-index:90;">
                            <label>登录密码</label>
                            <input type="password" id="loginPassword" name="loginPassword" class="input_text"
                                   maxlength="20" placeholder="请输入6-20位英文和数字混合密码" autocomplete="off" v-model="password" @blur="checkPwd()" @focus="clearMsg('loginPassword')"/>
                            <span id="loginPasswordOk" class="ok" style="display:none;"></span>
                            <div id="loginPasswordErr" class="form-hint" style="display:none;z-index:90;" ></div>
                        </div>

                        <div class="login-box clearfix" style="z-index:60;">
                            <label>&nbsp;</label>
                            <div class="yzm-box">
                                <input id="messageCode" type="text" class="yzm" placeholder="获取短信验证码" v-model="code" @blur="checkCode()" @focus="clearMsg('messageCode')"/>
                                &nbsp;&nbsp;
                                <button type="button" class="testBtn-a" id="messageCodeBtn" @click="getCheckNum()">{{sendCode}}</button>
                            </div>
                            <span id="messageCodeOk" class="ok" style="display:none;"></span>
                            <div id="messageCodeErr" class="form-hint" style="display:none;"></div>
                        </div>

                        <div class="remember" style="z-index:60;">
                            <span class="on">
                            <input id="agree" name="agree" type="checkbox" @click="agree()"/>我已阅读并同意<a
                                    href="javascript:alertBox('mask','agreement');"><font
                                    style="color: red;">《动力金融网&trade;注册服务协议》</font></a>
                            </span>
                        </div>

                        <div class="bn-login">
                            <button class="fail" id="btnRegist" disabled @click="register()">
                                注&nbsp;&nbsp;册
                            </button>
                        </div>

                    </div>
                </div>
                <div class="reg-right">
                    <div class="reg-txt clearfix">
                        <p>
                            万名用户知心托付<br/>
                            千万级技术研发投入<br/>
                        </p>
                        <p>
                            12.7%历史年化收益<br/>
                            亿级注册资本平台
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--页脚start-->
<div th:include="commons/footer :: html"></div>
<!--页脚end-->

<!--遮罩层start-->
<div id="mask" class="dialog-overlay" style="display:none;" onclick="closeBox('mask', 'agreement')"></div>
<!--遮罩层end-->

</body>
</html>